<div class="container-fluid row justify-content-md-center mt-4 mb-4">
  <div class="col-8">
    <div class="jumbotron text-center text-white">
      <div class="bg-text">
        <h1 class="display-4">Alpha-Blog</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
          featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
      </div>
    </div>
    <div class="card-deck col-12 m-0 p-0">
      <% article=Article.last(3).each do |article| %>
        <div class="card">
          <div class="card-header font-italic">
            by <%= article.user.username if article.user %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to article.title, article_path(article), class: "text-primary" %>
            </h5>
            <p class="card-text">
              <%= simple_format(truncate(article.description, length: 200)) %>
            </p>
          </div>
          <div class="card-footer">
            <small>
              created <%= time_ago_in_words(article.created_at) %> ago,
            </small>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>
