<% @articles.each do |article| %>
    <div class="row justify-content-md-center mb-4  mt-4">
        <div class="col-6">
            <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-header font-italic">
                    by <%= article.user.username if article.user%>
                </div>
                <div class="card-body">
                    <h5 class="card-title "><%= link_to article.title, article_path(article), class: "text-primary" %></h5>
                    <p class="card-text"><%= simple_format(truncate(article.description, length: 500)) %></p>
                    <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
                    <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-primary" %>
                    <%= link_to "Delete", article_path(article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                </div>
                <div class="card-footer text-muted">
                    <small>
                        created <%= time_ago_in_words(article.created_at) %> ago,
                    </small>
                    <small>
                        edited <%= time_ago_in_words(article.updated_at) %> ago,
                    </small>
                </div>
            </div>
        </div>
    </div>
<% end %>
